<div class="todo-list-container">
  <ul>
    <li *ngFor="let todo of todos" [class.completed]="todo.completed">
      <span>{{ todo.text }}</span>
      <div>
        <svg
          class="fa-regular fa-trash-can delete-icon i"
          (click)="deleteTodo(todo.id)"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="3,6 5,6 21,6"></polyline>
          <path d="m5,6 1,14c0,1.1 0.9,2 2,2h8c1.1,0 2-0.9 2-2l1-14"></path>
          <path d="m10,11 0,6"></path>
          <path d="m14,11 0,6"></path>
          <path d="M7,6V4a2,2 0 0 1 2-2h6a2,2 0 0 1 2,2v2"></path>
        </svg>

        <input
          type="checkbox"
          [checked]="todo.completed"
          (change)="toggleComplete(todo.id)"
          class="todo-checkbox"
        />

        <svg
          class="edit-icon"
          (click)="editTodo(todo)"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
          ></path>
          <path
            d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
          ></path>
        </svg>
      </div>
    </li>
  </ul>

  <div class="modal-overlay" *ngIf="isEditModalOpen" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2>Edit Todo</h2>
      <form (ngSubmit)="saveEdit()">
        <input
          type="text"
          placeholder="Edit your todo"
          class="edit-input"
          name="selectedTodoToBeEdited"
          [(ngModel)]="selectedTodoToBeEdited"
        />

        />
        <div class="modal-buttons">
          <button class="done-button" (click)="saveEdit()">Save</button>
          <button class="cancel-button" (click)="closeModal()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
